WebServiceDefAndSchemas/MSNABSharingService/msnab_sharingservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by wp (freezingsoft) -->
<definitions xmlns:msnab="http://www.msn.com/webservices/AddressBook" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.msn.com/webservices/AddressBook">
	<types>
		<ns:schema xmlns="http://www.w3.org/2001/XMLSchema">
			<ns:import schemaLocation="msnab_servicetypes.xsd" namespace="http://www.msn.com/webservices/AddressBook"/>
		</ns:schema>
	</types>
	<message name="ABHeader">
		<part name="ApplicationHeader" element="msnab:ABApplicationHeader"/>
		<part name="AuthHeader" element="msnab:ABAuthHeader"/>
	</message>
	<message name="FindMembershipMessage">
		<part name="FindMembershipRequest" element="msnab:FindMembership"/>
	</message>
	<message name="ABFindAllMessage">
		<part name="ABFindAllRequest" element="msnab:ABFindAll"/>
	</message>
	<message name="ABContactAddMessage">
		<part name="ABContactAddRequest" element="msnab:ABContactAdd"/>
	</message>
	<message name="ABContactDeleteMessage">
		<part name="ABContactDeleteRequest" element="msnab:ABContactDelete"/>
	</message>
	<message name="DeleteContactMessage">
		<part name="DeleteContactRequest" element="msnab:DeleteContact"/>
	</message>
	<message name="ABGroupContactAddMessage">
		<part name="ABGroupContactAddRequest" element="msnab:ABGroupContactAdd"/>
	</message>
	<message name="ABGroupAddMessage">
		<part name="ABGroupAddRequest" element="msnab:ABGroupAdd"/>
	</message>
	<message name="ABGroupUpdateMessage">
		<part name="ABGroupUpdateRequest" element="msnab:ABGroupUpdate"/>
	</message>
	<message name="ABGroupDeleteMessage">
		<part name="ABGroupDeleteRequest" element="msnab:ABGroupDelete"/>
	</message>
	<message name="ABGroupContactDeleteMessage">
		<part name="ABGroupContactDeleteRequest" element="msnab:ABGroupContactDelete"/>
	</message>
	<message name="ABContactUpdateMessage">
		<part name="ABContactUpdateRequest" element="msnab:ABContactUpdate"/>
	</message>
	<message name="AddMemberMessage">
		<part name="AddMemberRequest" element="msnab:AddMember"/>
	</message>
	<message name="DeleteMemberMessage">
		<part name="DeleteMemberRequest" element="msnab:DeleteMember"/>
	</message>
	<message name="AddServiceMessage">
		<part name="AddServiceRequest" element="msnab:AddService"/>
	</message>
	<message name="ServiceHeader">
		<part name="ServiceHeader" element="msnab:ServiceHeader"/>
	</message>
	<message name="FindMembershipResponseMessage">
		<part name="FindMembershipResponse" element="msnab:FindMembershipResponse"/>
	</message>
	<message name="ABFindAllResponseMessage">
		<part name="ABFindAllResponse" element="msnab:ABFindAllResponse"/>
	</message>
	<message name="ABContactAddResponseMessage">
		<part name="ABContactAddResponse" element="msnab:ABContactAddResponse"/>
	</message>
	<message name="ABContactDeleteResponseMessage">
		<part name="ABContactDeleteResponse" element="msnab:ABContactDeleteResponse"/>
	</message>
	<message name="DeleteContactResponseMessage">
		<part name="DeleteContactResponse" element="msnab:DeleteContactResponse"/>
	</message>
	<message name="ABGroupContactAddResponseMessage">
		<part name="ABGroupContactAddResponse" element="msnab:ABGroupContactAddResponse"/>
	</message>
	<message name="ABGroupAddResponseMessage">
		<part name="ABGroupAddResponse" element="msnab:ABGroupAddResponse"/>
	</message>
	<message name="ABGroupUpdateResponseMessage">
		<part name="ABGroupUpdateResponse" element="msnab:ABGroupUpdateResponse"/>
	</message>
	<message name="ABGroupDeleteResponseMessage">
		<part name="ABGroupDeleteResponse" element="msnab:ABGroupDeleteResponse"/>
	</message>
	<message name="ABGroupContactDeleteResponseMessage">
		<part name="ABGroupContactDeleteResponse" element="msnab:ABGroupContactDeleteResponse"/>
	</message>
	<message name="ABContactUpdateResponseMessage">
		<part name="ABContactUpdateResponse" element="msnab:ABContactUpdateResponse"/>
	</message>
	<message name="AddMemberResponseMessage">
		<part name="AddMemberResponse" element="msnab:AddMemberResponse"/>
	</message>
	<message name="DeleteMemberResponseMessage">
		<part name="DeleteMemberResponse" element="msnab:DeleteMemberResponse"/>
	</message>
	<message name="AddServiceResponseMessage">
		<part name="AddServiceResponse" element="msnab:AddServiceResponse"/>
	</message>
	<message name="InvalidPassportUserMessage">
		<part name="fault" element="msnab:InvalidPassportUser"/>
	</message>
	<message name="ABAddMessage">
		<part name="ABAddRequest" element="msnab:ABAdd"/>
	</message>
	<message name="ABAddResponseMessage">
		<part name="ABAddResponse" element="msnab:ABAddResponse"/>
	</message>
	<message name="UpdateDynamicItemMessage">
		<part name="UpdateDynamicItem" element="msnab:UpdateDynamicItem"/>
	</message>
	<message name="UpdateDynamicItemResponseMessage">
		<part name="UpdateDynamicItemResponse" element="msnab:UpdateDynamicItemResponse"/>
	</message>
	<message name="ABFindContactsPagedMessage">
		<part name="ABFindContactsPagedRequest" element="msnab:ABFindContactsPaged"/>
	</message>
	<message name="ABFindContactsPagedResponseMessage">
		<part name="ABFindContactsPagedResponse" element="msnab:ABFindContactsPagedResponse"/>
	</message>
	<message name="FindFriendsInCommonMessage">
		<part name="FindFriendsInCommonRequest" element="msnab:FindFriendsInCommon"/>
	</message>
	<message name="FindFriendsInCommonResponseMessage">
		<part name="FindFriendsInCommonResponse" element="msnab:FindFriendsInCommonResponse"/>
	</message>
	<message name="GetContactsRecentActivityMessage">
		<part name="GetContactsRecentActivityRequest" element="msnab:GetContactsRecentActivity"/>
	</message>
	<message name="GetContactsRecentActivityResponseMessage">
		<part name="GetContactsRecentActivityResponse" element="msnab:GetContactsRecentActivityResponse"/>
	</message>
	<message name="WNHeader">
		<part name="WNApplicationHeader" element="msnab:WNApplicationHeader"/>
		<part name="WNAuthHeader" element="msnab:WNAuthHeader"/>
		<part name="WNServiceHeader" element="msnab:WNServiceHeader"/>
	</message>
	<message name="CreateCircleMessage">
		<part name="CreateCircleRequest" element="msnab:CreateCircle"/>
	</message>
	<message name="CreateCircleResponseMessage">
		<part name="CreateCircleResponse" element="msnab:CreateCircleResponse"/>
	</message>
	<message name="CreateContactMessage">
		<part name="CreateContactRequest" element="msnab:CreateContact"/>
	</message>
	<message name="CreateContactResponseMessage">
		<part name="CreateContactResponse" element="msnab:CreateContactResponse"/>
	</message>
	<message name="ManageWLConnectionMessage">
		<part name="ManageWLConnection" element="msnab:ManageWLConnection"/>
	</message>
	<message name="ManageWLConnectionResponseMessage">
		<part name="ManageWLConnectionResponse" element="msnab:ManageWLConnectionResponse"/>
	</message>
	<message name="BreakConnectionMessage">
		<part name="BreakConnection" element="msnab:BreakConnection"/>
	</message>
	<message name="BreakConnectionResponseMessage">
		<part name="BreakConnectionResponse" element="msnab:BreakConnectionResponse"/>
	</message>
	<message name="AddDynamicItemMessage">
		<part name="AddDynamicItem" element="msnab:AddDynamicItem"/>
	</message>
	<message name="AddDynamicItemResponseMessage">
		<part name="AddDynamicItemResponse" element="msnab:AddDynamicItemResponse"/>
	</message>
	<message name="ABFindByContactsMessage">
		<part name="ABFindByContacts" element="msnab:ABFindByContacts"/>
	</message>
	<message name="ABFindByContactsResponseMessage">
		<part name="ABFindByContactsResponse" element="msnab:ABFindByContactsResponse"/>
	</message>
	<message name="GetBatchRecentActivityMessage">
		<part name="GetBatchRecentActivity" element="msnab:GetBatchRecentActivity"/>
	</message>
	<message name="GetBatchRecentActivityResponseMessage">
		<part name="GetBatchRecentActivityResponse" element="msnab:GetBatchRecentActivityResponse"/>
	</message>
	<message name="WNServiceHeader">
		<part name="WNServiceHeader" element="msnab:WNServiceHeader"/>
	</message>
	<portType name="SharingServicePortType">
		<operation name="FindMembership">
			<input message="msnab:FindMembershipMessage"/>
			<output message="msnab:FindMembershipResponseMessage"/>
		</operation>
		<operation name="AddMember">
			<input message="msnab:AddMemberMessage"/>
			<output message="msnab:AddMemberResponseMessage"/>
		</operation>
		<operation name="DeleteMember">
			<input message="msnab:DeleteMemberMessage"/>
			<output message="msnab:DeleteMemberResponseMessage"/>
		</operation>
		<operation name="CreateCircle">
			<input message="msnab:CreateCircleMessage"/>
			<output message="msnab:CreateCircleResponseMessage"/>
		</operation>
		<operation name="AddService">
			<input message="msnab:AddServiceMessage"/>
			<output message="msnab:AddServiceResponseMessage"/>
		</operation>
	</portType>
	<portType name="ABServicePortType">
		<operation name="ABFindAll">
			<input message="msnab:ABFindAllMessage"/>
			<output message="msnab:ABFindAllResponseMessage"/>
		</operation>
		<operation name="ABContactAdd">
			<input message="msnab:ABContactAddMessage"/>
			<output message="msnab:ABContactAddResponseMessage"/>
		</operation>
		<operation name="ABContactDelete">
			<input message="msnab:ABContactDeleteMessage"/>
			<output message="msnab:ABContactDeleteResponseMessage"/>
		</operation>
		<operation name="DeleteContact">
			<input message="msnab:DeleteContactMessage"/>
			<output message="msnab:DeleteContactResponseMessage"/>
		</operation>
		<operation name="ABGroupContactAdd">
			<input message="msnab:ABGroupContactAddMessage"/>
			<output message="msnab:ABGroupContactAddResponseMessage"/>
		</operation>
		<operation name="ABGroupAdd">
			<input message="msnab:ABGroupAddMessage"/>
			<output message="msnab:ABGroupAddResponseMessage"/>
		</operation>
		<operation name="ABGroupUpdate">
			<input message="msnab:ABGroupUpdateMessage"/>
			<output message="msnab:ABGroupUpdateResponseMessage"/>
		</operation>
		<operation name="ABGroupDelete">
			<input message="msnab:ABGroupDeleteMessage"/>
			<output message="msnab:ABGroupDeleteResponseMessage"/>
		</operation>
		<operation name="ABGroupContactDelete">
			<input message="msnab:ABGroupContactDeleteMessage"/>
			<output message="msnab:ABGroupContactDeleteResponseMessage"/>
		</operation>
		<operation name="ABContactUpdate">
			<input message="msnab:ABContactUpdateMessage"/>
			<output message="msnab:ABContactUpdateResponseMessage"/>
		</operation>
		<operation name="ABAdd">
			<input message="msnab:ABAddMessage"/>
			<output message="msnab:ABAddResponseMessage"/>
		</operation>
		<operation name="UpdateDynamicItem">
			<input message="msnab:UpdateDynamicItemMessage"/>
			<output message="msnab:UpdateDynamicItemResponseMessage"/>
		</operation>
		<operation name="ABFindContactsPaged">
			<input message="msnab:ABFindContactsPagedMessage"/>
			<output message="msnab:ABFindContactsPagedResponseMessage"/>
		</operation>
		<operation name="FindFriendsInCommon">
			<input message="msnab:FindFriendsInCommonMessage"/>
			<output message="msnab:FindFriendsInCommonResponseMessage"/>
		</operation>
		<operation name="CreateContact">
			<input message="msnab:CreateContactMessage"/>
			<output message="msnab:CreateContactResponseMessage"/>
		</operation>
		<operation name="ManageWLConnection">
			<input message="msnab:ManageWLConnectionMessage"/>
			<output message="msnab:ManageWLConnectionResponseMessage"/>
		</operation>
		<operation name="BreakConnection">
			<input message="msnab:BreakConnectionMessage"/>
			<output message="msnab:BreakConnectionResponseMessage"/>
		</operation>
		<operation name="AddDynamicItem">
			<input message="msnab:AddDynamicItemMessage"/>
			<output message="msnab:AddDynamicItemResponseMessage"/>
		</operation>
		<operation name="ABFindByContacts">
			<input message="msnab:ABFindByContactsMessage"/>
			<output message="msnab:ABFindByContactsResponseMessage"/>
		</operation>
	</portType>
	<portType name="WhatsUpServicePortType">
		<operation name="GetContactsRecentActivity">
			<input message="msnab:GetContactsRecentActivityMessage"/>
			<output message="msnab:GetContactsRecentActivityResponseMessage"/>
		</operation>
		<operation name="GetBatchRecentActivity">
			<input message="msnab:GetBatchRecentActivityMessage"/>
			<output message="msnab:GetBatchRecentActivityResponseMessage"/>
		</operation>
	</portType>
	<binding name="SharingServiceBinding" type="msnab:SharingServicePortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="FindMembership">
			<soap:operation soapAction="http://www.msn.com/webservices/AddressBook/FindMembership"/>
			<input>
				<soap:header message="msnab:ABHeader" part="ApplicationHeader" use="literal"/>
				<soap:header message="msnab:ABHeader" part="AuthHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="msnab:ServiceHeader" part="ServiceHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="AddMember">
			<soap:operation soapAction="http://www.msn.com/webservices/AddressBook/AddMember"/>
			<input>
				<soap:header message="msnab:ABHeader" part="ApplicationHeader" use="literal"/>
				<soap:header message="msnab:ABHeader" part="AuthHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="msnab:ServiceHeader" part="ServiceHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="DeleteMember">
			<soap:operation soapAction="http://www.msn.com/webservices/AddressBook/DeleteMember"/>
			<input>
				<soap:header message="msnab:ABHeader" part="ApplicationHeader" use="literal"/>
				<soap:header message="msnab:ABHeader" part="AuthHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="msnab:ServiceHeader" part="ServiceHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CreateCircle">
			<soap:operation soapAction="http://www.msn.com/webservices/AddressBook/CreateCircle"/>
			<input>
				<soap:body use="literal"/>
				<soap:header message="msnab:ABHeader" part="ApplicationHeader" use="literal"/>
				<soap:header message="msnab:ABHeader" part="AuthHeader" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
				<soap:header message="msnab:ServiceHeader" part="ServiceHeader" use="literal"/>
			</output>
		</operation>
		<operation name="AddService">
			<soap:operation soapAction="http://www.msn.com/webservices/AddressBook/AddService"/>
			<input>
				<soap:body use="literal"/>
				<soap:header message="msnab:ABHeader" part="ApplicationHeader" use="literal"/>
				<soap:header message="msnab:ABHeader" part="AuthHeader" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
				<soap:header message="msnab:ServiceHeader" part="ServiceHeader" use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="ABServiceBinding" type="msnab:ABServicePortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ABFindAll">
			<soap:operation soapAction="http://www.msn.com/webservices/AddressBook/ABFindAll"/>
			<input>
				<soap:header message="msnab:ABHeader" part="ApplicationHeader" use="literal"/>
				<soap:header message="msnab:ABHeader" part="AuthHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="msnab:ServiceHeader" part="ServiceHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ABContactAdd">
			<soap:operation soapAction="http://www.msn.com/webservices/AddressBook/ABContactAdd"/>
			<input>
				<soap:header message="msnab:ABHeader" part="ApplicationHeader" use="literal"/>
				<soap:header message="msnab:ABHeader" part="AuthHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="msnab:ServiceHeader" part="ServiceHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ABContactDelete">
			<soap:operation soapAction="http://www.msn.com/webservices/AddressBook/ABContactDelete"/>
			<input>
				<soap:header message="msnab:ABHeader" part="ApplicationHeader" use="literal"/>
				<soap:header message="msnab:ABHeader" part="AuthHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="msnab:ServiceHeader" part="ServiceHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="DeleteContact">
			<soap:operation soapAction="http://www.msn.com/webservices/AddressBook/DeleteContact"/>
			<input>
				<soap:header message="msnab:ABHeader" part="ApplicationHeader" use="literal"/>
				<soap:header message="msnab:ABHeader" part="AuthHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="msnab:ServiceHeader" part="ServiceHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ABGroupContactAdd">
			<soap:operation soapAction="http://www.msn.com/webservices/AddressBook/ABGroupContactAdd"/>
			<input>
				<soap:header message="msnab:ABHeader" part="ApplicationHeader" use="literal"/>
				<soap:header message="msnab:ABHeader" part="AuthHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="msnab:ServiceHeader" part="ServiceHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ABGroupAdd">
			<soap:operation soapAction="http://www.msn.com/webservices/AddressBook/ABGroupAdd"/>
			<input>
				<soap:header message="msnab:ABHeader" part="ApplicationHeader" use="literal"/>
				<soap:header message="msnab:ABHeader" part="AuthHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="msnab:ServiceHeader" part="ServiceHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ABGroupUpdate">
			<soap:operation soapAction="http://www.msn.com/webservices/AddressBook/ABGroupUpdate"/>
			<input>
				<soap:header message="msnab:ABHeader" part="ApplicationHeader" use="literal"/>
				<soap:header message="msnab:ABHeader" part="AuthHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="msnab:ServiceHeader" part="ServiceHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ABGroupDelete">
			<soap:operation soapAction="http://www.msn.com/webservices/AddressBook/ABGroupDelete"/>
			<input>
				<soap:header message="msnab:ABHeader" part="ApplicationHeader" use="literal"/>
				<soap:header message="msnab:ABHeader" part="AuthHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="msnab:ServiceHeader" part="ServiceHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ABGroupContactDelete">
			<soap:operation soapAction="http://www.msn.com/webservices/AddressBook/ABGroupContactDelete"/>
			<input>
				<soap:header message="msnab:ABHeader" part="ApplicationHeader" use="literal"/>
				<soap:header message="msnab:ABHeader" part="AuthHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="msnab:ServiceHeader" part="ServiceHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ABContactUpdate">
			<soap:operation soapAction="http://www.msn.com/webservices/AddressBook/ABContactUpdate"/>
			<input>
				<soap:header message="msnab:ABHeader" part="ApplicationHeader" use="literal"/>
				<soap:header message="msnab:ABHeader" part="AuthHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="msnab:ServiceHeader" part="ServiceHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ABAdd">
			<soap:operation soapAction="http://www.msn.com/webservices/AddressBook/ABAdd"/>
			<input>
				<soap:body use="literal"/>
				<soap:header message="msnab:ABHeader" part="ApplicationHeader" use="literal"/>
				<soap:header message="msnab:ABHeader" part="AuthHeader" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
				<soap:header message="msnab:ServiceHeader" part="ServiceHeader" use="literal"/>
			</output>
		</operation>
		<operation name="UpdateDynamicItem">
			<soap:operation soapAction="http://www.msn.com/webservices/AddressBook/UpdateDynamicItem"/>
			<input>
				<soap:body use="literal"/>
				<soap:header message="msnab:ABHeader" part="ApplicationHeader" use="literal"/>
				<soap:header message="msnab:ABHeader" part="AuthHeader" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
				<soap:header message="msnab:ServiceHeader" part="ServiceHeader" use="literal"/>
			</output>
		</operation>
		<operation name="ABFindContactsPaged">
			<soap:operation soapAction="http://www.msn.com/webservices/AddressBook/ABFindContactsPaged"/>
			<input>
				<soap:body use="literal"/>
				<soap:header message="msnab:ABHeader" part="ApplicationHeader" use="literal"/>
				<soap:header message="msnab:ABHeader" part="AuthHeader" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
				<soap:header message="msnab:ServiceHeader" part="ServiceHeader" use="literal"/>
			</output>
		</operation>
		<operation name="FindFriendsInCommon">
			<soap:operation soapAction="http://www.msn.com/webservices/AddressBook/FindFriendsInCommon"/>
			<input>
				<soap:body use="literal"/>
				<soap:header message="msnab:ABHeader" part="ApplicationHeader" use="literal"/>
				<soap:header message="msnab:ABHeader" part="AuthHeader" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
				<soap:header message="msnab:ServiceHeader" part="ServiceHeader" use="literal"/>
			</output>
		</operation>
		<operation name="CreateContact">
			<soap:operation soapAction="http://www.msn.com/webservices/AddressBook/CreateContact"/>
			<input>
				<soap:body use="literal"/>
				<soap:header message="msnab:ABHeader" part="ApplicationHeader" use="literal"/>
				<soap:header message="msnab:ABHeader" part="AuthHeader" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
				<soap:header message="msnab:ServiceHeader" part="ServiceHeader" use="literal"/>
			</output>
		</operation>
		<operation name="ManageWLConnection">
			<soap:operation soapAction="http://www.msn.com/webservices/AddressBook/ManageWLConnection"/>
			<input>
				<soap:body use="literal"/>
				<soap:header message="msnab:ABHeader" part="ApplicationHeader" use="literal"/>
				<soap:header message="msnab:ABHeader" part="AuthHeader" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
				<soap:header message="msnab:ServiceHeader" part="ServiceHeader" use="literal"/>
			</output>
		</operation>
		<operation name="BreakConnection">
			<soap:operation soapAction="http://www.msn.com/webservices/AddressBook/BreakConnection"/>
			<input>
				<soap:body use="literal"/>
				<soap:header message="msnab:ABHeader" part="ApplicationHeader" use="literal"/>
				<soap:header message="msnab:ABHeader" part="AuthHeader" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
				<soap:header message="msnab:ServiceHeader" part="ServiceHeader" use="literal"/>
			</output>
		</operation>
		<operation name="AddDynamicItem">
			<soap:operation soapAction="http://www.msn.com/webservices/AddressBook/AddDynamicItem"/>
			<input>
				<soap:body use="literal"/>
				<soap:header message="msnab:ABHeader" part="ApplicationHeader" use="literal"/>
				<soap:header message="msnab:ABHeader" part="AuthHeader" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
				<soap:header message="msnab:ServiceHeader" part="ServiceHeader" use="literal"/>
			</output>
		</operation>
		<operation name="ABFindByContacts">
			<soap:operation soapAction="http://www.msn.com/webservices/AddressBook/ABFindByContacts"/>
			<input>
				<soap:body use="literal"/>
				<soap:header message="msnab:ABHeader" part="ApplicationHeader" use="literal"/>
				<soap:header message="msnab:ABHeader" part="AuthHeader" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
				<soap:header message="msnab:ServiceHeader" part="ServiceHeader" use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="WhatsUpServiceBinding" type="msnab:WhatsUpServicePortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="GetContactsRecentActivity">
			<soap:operation soapAction="http://www.msn.com/webservices/AddressBook/GetContactsRecentActivity"/>
			<input>
				<soap:body use="literal"/>
				<soap:header message="msnab:WNHeader" part="WNApplicationHeader" use="literal"/>
				<soap:header message="msnab:WNHeader" part="WNAuthHeader" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
				<soap:header message="msnab:WNHeader" part="WNServiceHeader" use="literal"/>
			</output>
		</operation>
		<operation name="GetBatchRecentActivity">
			<soap:operation soapAction="http://www.msn.com/webservices/AddressBook/GetBatchRecentActivity"/>
			<input>
				<soap:body use="literal"/>
				<soap:header message="msnab:WNHeader" part="WNApplicationHeader" use="literal"/>
				<soap:header message="msnab:WNHeader" part="WNAuthHeader" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
				<soap:header message="msnab:WNServiceHeader" part="WNServiceHeader" use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="SharingService">
		<port name="SharingServiceBinding" binding="msnab:SharingServiceBinding">
			<soap:address location="https://contacts.msn.com/abservice/SharingService.asmx"/>
		</port>
	</service>
	<service name="ABService">
		<port name="ABServiceBinding" binding="msnab:ABServiceBinding">
			<soap:address location="https://contacts.msn.com/abservice/abservice.asmx"/>
		</port>
	</service>
	<service name="WhatsUpService">
		<port name="WhatsUpServiceBinding" binding="msnab:WhatsUpServiceBinding">
			<soap:address location="http://sup.live.com/whatsnew/whatsnewservice.asmx"/>
		</port>
	</service>
</definitions>
