MSNPSharp/Web References/MSNSecurityTokenService/ps.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ps="http://schemas.microsoft.com/Passport/SoapServices/PPCRL" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsse="http://schemas.xmlsoap.org/ws/2003/06/secext" xmlns:wst="http://schemas.xmlsoap.org/ws/2004/04/trust" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2002/12/policy" xmlns:enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xenc="http://www.w3.org/2001/04/xmlenc#" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:psf="http://schemas.microsoft.com/Passport/SoapServices/SOAPFault" targetNamespace="http://schemas.microsoft.com/Passport/SoapServices/PPCRL" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema>
      <xs:import schemaLocation="ps.xsd" namespace="http://schemas.microsoft.com/Passport/SoapServices/PPCRL" />
      <xs:import schemaLocation="ps-fault.xsd" namespace="http://schemas.microsoft.com/Passport/SoapServices/SOAPFault" />
      <xs:import schemaLocation="ws-secext.xsd" namespace="http://schemas.xmlsoap.org/ws/2003/06/secext" />
      <xs:import schemaLocation="ws-trust.xsd" namespace="http://schemas.xmlsoap.org/ws/2004/04/trust" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="RequestMultipleSecurityTokensMsg">
    <wsdl:part name="request" element="ps:RequestMultipleSecurityTokens" />
  </wsdl:message>
  <wsdl:message name="RequestSecurityTokenResponseCollectionMsg">
    <wsdl:part name="responseCollection" element="wst:RequestSecurityTokenResponseCollection" />
  </wsdl:message>
  <wsdl:message name="AuthInfoHeader">
    <wsdl:part name="AuthInfo" element="ps:AuthInfo" />
  </wsdl:message>
  <wsdl:message name="SecurityHeader">
    <wsdl:part name="Security" element="wsse:Security" />
  </wsdl:message>
  <wsdl:message name="ppResponseHeader">
    <wsdl:part name="pp" element="psf:ppHeader" />
  </wsdl:message>
  <wsdl:message name="FaultMessage">
    <wsdl:part name="responseCollection" element="wst:RequestSecurityTokenResponseCollection" />
  </wsdl:message>
  <wsdl:portType name="SecurityTokenServicePortType">
    <wsdl:operation name="RequestMultipleSecurityTokens">
      <wsdl:input message="ps:RequestMultipleSecurityTokensMsg" />
      <wsdl:output message="ps:RequestSecurityTokenResponseCollectionMsg" />
      <wsdl:fault name="InvalidOperationException" message="ps:FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SecurityTokenServicePortBinding" type="ps:SecurityTokenServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RequestMultipleSecurityTokens">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:header message="ps:SecurityHeader" part="Security" use="literal" namespace="wsse" />
        <soap:header message="ps:AuthInfoHeader" part="AuthInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="ps:ppResponseHeader" part="pp" use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidOperationException">
        <soap:fault use="literal" name="InvalidOperationException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SecurityTokenService">
    <wsdl:port name="LiveSecurityTokenServicePort" binding="ps:SecurityTokenServicePortBinding">
      <soap:address location="https://login.live.com/RST.srf" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>