MSNP-Sharp15/MSNPSharp/Web References/MSNP13SharingService/msnab_datatypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:msnab="http://www.msn.com/webservices/AddressBook" xmlns="http://www.msn.com/webservices/AddressBook" elementFormDefault="qualified" targetNamespace="http://www.msn.com/webservices/AddressBook" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation>
      Copyright (c) 2006 Michaël Larouche &lt;michael.larouche@kdemail.net&gt;

      Permission to use, copy, modify and distribute this XML Schema
      and its accompanying documentation for any purpose and without fee
      is hereby granted in perpetuity, provided that the above copyright
      notice and this paragraph appear in all copies.  The copyright
      holders make no representation about the suitability of the XML Schema for
      any purpose. It is provided "as is" without expressed or implied
      warranty.

      This a reverse engineered XML Schema done for interopability purpose.
    </xsd:documentation>
  </xsd:annotation>
  <xsd:annotation>
    <xsd:documentation>
      This XML Schema expose the data types of the MSN AddressBook Web service
      used by Windows Live Messenger. Microsoft did not disclose the description of
      the web service so we are stuck reverse engineering it. This XML Schema along with the WSDL
      description will automate the generation of a WDSL binding to MSN AddressBook Web service.
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="HandleType">
    <xsd:sequence>
      <xsd:element name="Id" type="xsd:integer" />
      <xsd:element name="Type" type="xsd:string" />
      <xsd:element name="ForeignId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ServiceType">
    <xsd:annotation>
      <xsd:documentation>
        Service list differents services which contain one or more Membership.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="Memberships">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="Membership" type="msnab:Membership" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Info">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Handle" type="msnab:HandleType" />
            <xsd:element minOccurs="0" name="DisplayName" type="xsd:string" />
            <xsd:element name="InverseRequired" type="xsd:boolean" />
            <xsd:element name="AuthorizationCriteria" type="xsd:string" />
            <xsd:element name="IsBot" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Changes" type="xsd:string" />
      <xsd:element name="LastChange" type="xsd:dateTime" />
      <xsd:element name="Deleted" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Membership">
    <xsd:annotation>
      <xsd:documentation>
        Membership is a list of members with a given role.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="MemberRole" type="msnab:MemberRole" />
      <xsd:element name="Members">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="Member" type="msnab:BaseMember" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BaseMember">
    <xsd:annotation>
      <xsd:documentation>
        BaseMember is all the common fields between all types of Member.

        MembershipId: Unique Identifier for the member
        Type: Member type, see MemberType
        DisplayName: A friendly display name of the current member
        State: Current state of the member, see MemberState
        Deleted: If the member is deleted or not
        LastChanged: DateTime timestamp of the last change.
        Changes: unknown
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="MembershipId" type="xsd:positiveInteger" />
      <xsd:element name="Type" type="msnab:MemberType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="DisplayName" type="xsd:string" />
      <xsd:element name="State" type="msnab:MemberState" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Annotations">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="Annotation" type="msnab:Annotation" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="Deleted" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="LastChanged" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="Changes" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PassportMember">
    <xsd:annotation>
      <xsd:documentation>
        PassportMember is the main Member type you encounter in FindMembershipResult message.
        It contain details for a passport member, which correspond to the old details in
        MSN's Allow, Block, Reverse and Pending list.

        PassportName: Passport username (example@passport.com)
        IsPassportNameHidden: Tell if PassportName should be hidden
        PassportId: Integer Passport identifier (need more info)
        CID: unknown
        PassportChanges: unknown
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="msnab:BaseMember">
        <xsd:sequence>
          <xsd:element name="PassportName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="IsPassportNameHidden" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PassportId" type="xsd:integer" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CID" type="xsd:integer" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PassportChanges" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="RoleMember">
    <xsd:annotation>
      <xsd:documentation>
        RoleMember's role is unknown for the moment.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="msnab:BaseMember">
        <xsd:sequence>
          <xsd:element name="Id" type="xsd:string" />
          <xsd:element name="DefiningService">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="Id" type="xsd:integer" />
                <xsd:element name="Type" type="xsd:string" />
                <xsd:element name="ForeignId" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="MaxRoleRecursionDepth" type="xsd:integer" />
          <xsd:element name="MaxDegreesSeparation" type="xsd:integer" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EveryoneMember">
    <xsd:annotation>
      <xsd:documentation>
        EveryoneMember's role is unknown for the moment.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="msnab:BaseMember" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EmailMember">
    <xsd:annotation>
      <xsd:documentation>
        EmailMember is the Member type you encounter in FindMembershipResult message for email addresses.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="msnab:BaseMember">
        <xsd:sequence>
          <xsd:element name="Email" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PhoneMember">
    <xsd:annotation>
      <xsd:documentation>
        PhoneMember is the Member type you encounter in FindMembershipResult message for phone numbers.

        PhoneNumber: Phone number
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="msnab:BaseMember">
        <xsd:sequence>
          <xsd:element name="PhoneNumber" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="Guid">
    <xsd:annotation>
      <xsd:documentation>
        Guid is a string that reprensent a global unique identifier. Used by Microsoft to identify unique items.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MemberRole">
    <xsd:annotation>
      <xsd:documentation>
        MemberRole determine the type(or the nature) of a membership.

        Allow: Equivalent to the old MSN Allow list
        Block: Equivalent to the old MSN Block list
        Reverse: Equivalent to the old MSN Reverse list
        Pending: Equivalent to the old MSN Pending list
        Contributor: Unknown
        ProfileGeneral: Unknown
        ProfilePersonalContact: Unknown
        ProfileProfessionalContact: Unknown
        ProfileSocial: Unknown
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Allow" />
      <xsd:enumeration value="Block" />
      <xsd:enumeration value="Reverse" />
      <xsd:enumeration value="Pending" />
      <xsd:enumeration value="Contributor" />
      <xsd:enumeration value="ProfileGeneral" />
      <xsd:enumeration value="ProfilePersonalContact" />
      <xsd:enumeration value="ProfileProfessionalContact" />
      <xsd:enumeration value="ProfileSocial" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MemberType">
    <xsd:annotation>
      <xsd:documentation>
        MemberType is a sibling of Member to determine the member type, even if xsi:type is used.
        It put a restriction of the value you put into it.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Passport" />
      <xsd:enumeration value="Role" />
      <xsd:enumeration value="Everyone" />
      <xsd:enumeration value="Email" />
      <xsd:enumeration value="Phone" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MemberState">
    <xsd:annotation>
      <xsd:documentation>
        MemberState is the current state of a Member.

        Accepted: member is accepted, obviously.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Accepted" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Annotation">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="Name" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Value" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContactType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="contactId" type="msnab:Guid" />
      <xsd:element minOccurs="0" maxOccurs="1" name="contactInfo" type="msnab:contactInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="propertiesChanged" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
            A space (ASCII #32) separated list of properties that
            have changed as part of an update request. The property
            names don't always match the name of the associated
            element.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="fDeleted" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="lastChange" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContactIdType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="contactId" type="msnab:Guid" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="contactInfoType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="emails">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="ContactEmail" type="msnab:contactEmailType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="phones">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="ContactPhone" type="msnab:contactPhoneType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="locations">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="ContactLocation" type="msnab:contactLocationType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="webSites">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="ContactWebSite" type="msnab:contactWebSiteType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="annotations">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="Annotation" type="msnab:Annotation" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="groupIds">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="guid" type="msnab:Guid" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="groupIdsDeleted">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="guid" type="msnab:Guid" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="contactType">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Me" />
            <xsd:enumeration value="Regular" />
            <xsd:enumeration value="Messenger" />
            <xsd:enumeration value="Live" />
            <xsd:enumeration value="LivePending" />
            <xsd:enumeration value="LiveRejected" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="quickName" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="firstName" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="MiddleName" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="lastName" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="passportName" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="IsPassportNameHidden" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="displayName" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="puid" type="xsd:integer" />
      <xsd:element minOccurs="0" maxOccurs="1" name="CID" type="xsd:integer" />
      <xsd:element minOccurs="0" maxOccurs="1" name="comment" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="IsNotMobileVisible" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="isMobileIMEnabled" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="isMessengerUser" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="isFavorite" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="isSmtp" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="hasSpace" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>
            Indicates whether the contact has a Windows Live
            Space or not.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="spotWatchState" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="birthdate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" maxOccurs="1" name="primaryEmailType" type="msnab:ContactEmailTypeType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="PrimaryLocation" type="msnab:ContactLocationTypeType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="PrimaryPhone" type="msnab:ContactPhoneTypeType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="IsPrivate" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Anniversary" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
            Seen is YYYY/MM/DD format.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="Gender" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="TimeZone" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="contactEmailType">
    <xsd:sequence>
      <xsd:element name="contactEmailType" type="msnab:ContactEmailTypeType" />
      <xsd:element name="email" type="xsd:string" />
      <xsd:element name="IsMessengerEnabled" type="xsd:boolean" />
      <xsd:element name="Capability" type="xsd:integer" />
      <xsd:element name="MessengerEnabledExternally" type="xsd:boolean" />
      <xsd:element name="propertiesChanged" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ContactEmailTypeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ContactEmailPersonal" />
      <xsd:enumeration value="ContactEmailBusiness" />
      <xsd:enumeration value="ContactEmailOther" />
      <xsd:enumeration value="ContactEmailMessenger" />
      <xsd:enumeration value="Messenger2" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="contactPhoneType">
    <xsd:sequence>
      <xsd:element name="contactPhoneType" type="msnab:ContactPhoneTypeType" />
      <xsd:element name="number" type="xsd:string" />
      <xsd:element name="IsMessengerEnabled" type="xsd:boolean" />
      <xsd:element name="propertiesChanged" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ContactPhoneTypeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ContactPhonePersonal" />
      <xsd:enumeration value="ContactPhoneBusiness" />
      <xsd:enumeration value="ContactPhoneMobile" />
      <xsd:enumeration value="ContactPhonePager" />
      <xsd:enumeration value="ContactPhoneOther" />
      <xsd:enumeration value="BusinessFax" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="contactLocationType">
    <xsd:sequence>
      <xsd:element name="contactLocationType" type="msnab:ContactLocationTypeType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string" />
      <xsd:element name="street" type="xsd:string" />
      <xsd:element name="city" type="xsd:string" />
      <xsd:element name="state" type="xsd:string" />
      <xsd:element name="country" type="xsd:string" />
      <xsd:element name="postalCode" type="xsd:string" />
      <xsd:element name="Changes" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ContactLocationTypeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ContactLocationPersonal" />
      <xsd:enumeration value="ContactLocationBusiness" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="contactWebSiteType">
    <xsd:sequence>
      <xsd:element name="contactWebSiteType" type="msnab:ContactWebSiteTypeType" />
      <xsd:element name="webURL" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ContactWebSiteTypeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ContactWebSitePersonal" />
      <xsd:enumeration value="ContactWebSiteBusiness" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="GroupType">
    <xsd:sequence>
      <xsd:element name="groupId" type="msnab:Guid" />
      <xsd:element name="groupInfo" type="msnab:groupInfoType" />
      <xsd:element name="propertiesChanged" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
            A space (ASCII #32) separated list of properties that
            have changed as part of an update request. The property
            names don't always match the name of the associated
            element.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="fDeleted" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="lastChange" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="groupInfoType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="annotations">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="Annotation" type="msnab:Annotation" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="groupType" type="msnab:Guid" />
      <xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="IsNotMobileVisible" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="IsPrivate" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="fMessenger" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="groupFilterType">
    <xsd:sequence>
      <xsd:element name="groupIds">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="guid" type="msnab:Guid" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="InvalidPassportUser">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="errorcode" type="xsd:string" />
        <xsd:element name="errorstring" type="xsd:string" />
        <xsd:element name="additionalDetails">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="originalExceptionErrorMessage" type="xsd:string" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>