MSNP-Sharp15/MSNPSharp/Web References/MSNSecurityTokenService/addressing.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" elementFormDefault="qualified" targetNamespace="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EndpointReference" type="wsa:EndpointReferenceType" />
  <xs:complexType name="EndpointReferenceType">
    <xs:sequence>
      <xs:element name="Address" type="xs:anyURI" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>