WebServiceDefAndSchemas/MSNStorageService/msnstorage_ws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns="http://www.w3.org/2001/XMLSchema" xmlns:msnss="http://www.msn.com/webservices/storage/w10" xmlns:ns1="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.msn.com/webservices/storage/w10" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <ns:schema xmlns="http://www.w3.org/2001/XMLSchema">
      <ns:import schemaLocation="msnstorage_servicetypes.xsd" namespace="http://www.msn.com/webservices/storage/w10" />
    </ns:schema>
  </types>
  <message name="SSHeader">
    <part name="StorageApplicationHeader" element="msnss:StorageApplicationHeader" />
    <part name="StorageUserHeader" element="msnss:StorageUserHeader" />
    <part name="AffinityCacheHeader" element="msnss:AffinityCacheHeader" />
  </message>
  <message name="GetProfileMessage">
    <part name="GetProfileRequest" element="msnss:GetProfile" />
  </message>
  <message name="GetProfileResponseMessage">
    <part name="GetProfileResponse" element="msnss:GetProfileResponse" />
  </message>
  <message name="UpdateProfileMessage">
    <part name="UpdateProfileRequest" element="msnss:UpdateProfile" />
  </message>
  <message name="UpdateProfileResponseMessage">
    <part name="UpdateProfileResponse" element="msnss:UpdateProfileResponse" />
  </message>
  <message name="FindDocumentsMessage">
    <part name="FindDocumentsRequest" element="msnss:FindDocuments" />
  </message>
  <message name="FindDocumentsResponseMessage">
    <part name="FindDocumentsResponse" element="msnss:FindDocumentsResponse" />
  </message>
  <portType name="StorageServicePortType">
    <operation name="GetProfile">
      <input message="msnss:GetProfileMessage" />
      <output message="msnss:GetProfileResponseMessage" />
    </operation>
    <operation name="UpdateProfile">
      <input message="msnss:UpdateProfileMessage" />
      <output message="msnss:UpdateProfileResponseMessage" />
    </operation>
    <operation name="FindDocuments">
      <input message="msnss:FindDocumentsMessage" />
      <output message="msnss:FindDocumentsResponseMessage" />
    </operation>
  </portType>
  <binding name="StorageServiceBinding" type="msnss:StorageServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetProfile">
      <soap:operation soapAction="http://www.msn.com/webservices/storage/w10/GetProfile" />
      <input>
        <soap:header message="msnss:SSHeader" part="AffinityCacheHeader" use="literal" />
        <soap:header message="msnss:SSHeader" part="StorageApplicationHeader" use="literal" />
        <soap:header message="msnss:SSHeader" part="StorageUserHeader" use="literal" />
        <soap:body use="literal" />
      </input>
      <output>
        <soap:header message="msnss:SSHeader" part="AffinityCacheHeader" use="literal" />
        <soap:header message="msnss:SSHeader" part="StorageUserHeader" use="literal" />
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UpdateProfile">
      <soap:operation soapAction="http://www.msn.com/webservices/storage/w10/UpdateProfile" />
      <input>
        <soap:header message="msnss:SSHeader" part="AffinityCacheHeader" use="literal" />
        <soap:header message="msnss:SSHeader" part="StorageApplicationHeader" use="literal" />
        <soap:header message="msnss:SSHeader" part="StorageUserHeader" use="literal" />
        <soap:body use="literal" />
      </input>
      <output>
        <soap:header message="msnss:SSHeader" part="AffinityCacheHeader" use="literal" />
        <soap:header message="msnss:SSHeader" part="StorageUserHeader" use="literal" />
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="FindDocuments">
      <soap:operation soapAction="http://www.msn.com/webservices/storage/w10/FindDocuments" />
      <input>
        <soap:header message="msnss:SSHeader" part="AffinityCacheHeader" use="literal" />
        <soap:header message="msnss:SSHeader" part="StorageApplicationHeader" use="literal" />
        <soap:header message="msnss:SSHeader" part="StorageUserHeader" use="literal" />
        <soap:body use="literal" />
      </input>
      <output>
        <soap:header message="msnss:SSHeader" part="AffinityCacheHeader" use="literal" />
        <soap:header message="msnss:SSHeader" part="StorageUserHeader" use="literal" />
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="StorageService">
    <port name="GetProfilePort" binding="msnss:StorageServiceBinding">
      <soap:address location="https://storage.msn.com/storageservice/SchematizedStore.asmx" />
    </port>
    <port name="UpdateProfilePort" binding="msnss:StorageServiceBinding">
      <soap:address location="https://storage.msn.com/storageservice/SchematizedStore.asmx" />
    </port>
    <port name="FindDocumentsPort" binding="msnss:StorageServiceBinding">
      <soap:address location="https://storage.msn.com/storageservice/SchematizedStore.asmx" />
    </port>
  </service>
</definitions>