MSNP-Sharp15/MSNPSharp/Web References/MSNSPACEWS.MSNSpaceService/space_ws_datatype.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:sns="http://www.msn.com/webservices/spaces/v1/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.msn.com/webservices/spaces/v1/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="elementType">
    <xs:sequence>
      <xs:element name="title" type="xs:string" />
      <xs:element name="url" type="xs:string" />
      <xs:element name="totalNewItems" type="xs:integer" />
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="subElement" type="xs:anyType" />
      </xs:sequence>
    </xs:sequence>
    <xs:attribute name="type" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="subelementType">
    <xs:sequence>
      <xs:element name="description" type="xs:string" />
      <xs:element name="tooltip" type="xs:string" />
      <xs:element name="title" type="xs:string" />
      <xs:element name="url" type="xs:string" />
      <xs:element minOccurs="0" name="thumbnailUrl" type="xs:string" />
      <xs:element minOccurs="0" name="webReadyUrl" type="xs:string" />
      <xs:element minOccurs="0" name="albumName" type="xs:string" />
    </xs:sequence>
    <xs:anyAttribute namespace="##other" />
  </xs:complexType>
  <xs:complexType name="elementsType">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="element" type="sns:elementType" />
    </xs:sequence>
    <xs:attribute name="totalMatches" type="xs:integer" />
    <xs:attribute name="returnedMatches" type="xs:integer" />
    <xs:attribute name="displayName" type="xs:string" />
    <xs:attribute name="displayPictureUrl" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="themeType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="titleBar" type="sns:surfaceType" />
      <xs:element name="clientArea" type="sns:clientAreaType" />
      <xs:element name="toolbar" type="sns:surfaceType" />
      <xs:element name="border" type="sns:borderType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="surfaceType">
    <xs:attribute name="background" type="xs:string" />
    <xs:attribute name="foreground" type="xs:string" />
    <xs:attribute name="fontFace" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="clientAreaType">
    <xs:complexContent mixed="false">
      <xs:extension base="sns:surfaceType">
        <xs:attribute name="backgroundImage" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="borderType">
    <xs:attribute name="topLeftImage" type="xs:string" />
    <xs:attribute name="bottomLeftImage" type="xs:string" />
    <xs:attribute name="topRightImage" type="xs:string" />
    <xs:attribute name="bottomRightImage" type="xs:string" />
    <xs:attribute name="outline" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="liveThemeType">
    <xs:sequence>
      <xs:element name="themeName" type="xs:string" />
      <xs:element name="head" type="sns:headType" />
      <xs:element name="body" type="sns:bodyType" />
      <xs:element name="actions" type="sns:linkType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="linkType">
    <xs:attribute name="linkColor" type="xs:string" />
    <xs:attribute name="backgroundColor" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="linkTextType">
    <xs:complexContent mixed="false">
      <xs:extension base="sns:linkType">
        <xs:attribute name="textColor" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="headType">
    <xs:complexContent mixed="false">
      <xs:extension base="sns:linkTextType">
        <xs:attribute name="backgroundImage" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="bodyType">
    <xs:complexContent mixed="false">
      <xs:extension base="sns:headType">
        <xs:attribute name="secondaryLinkColor" type="xs:string" />
        <xs:attribute name="dividerColor" type="xs:string" />
        <xs:attribute name="accordionHoverColor" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="contactCardType">
    <xs:sequence>
      <xs:element name="storageAuthCache" type="xs:string" />
      <xs:element name="elements" type="sns:elementsType" />
      <xs:element name="theme" type="sns:themeType" />
      <xs:element name="liveTheme" type="sns:liveThemeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="subelementType2">
    <xs:complexContent mixed="false">
      <xs:extension base="xs:anyType" />
    </xs:complexContent>
  </xs:complexType>
</xs:schema>