WebServiceDefAndSchemas/MSNSecurityTokenService/addressing.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by wp (freezingsoft) -->
<xs:schema xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.xmlsoap.org/ws/2004/03/addressing" elementFormDefault="qualified">
  <xs:element name="EndpointReference" type="wsa:EndpointReferenceType"/>
  <xs:complexType name="EndpointReferenceType">
    <xs:sequence>
      <xs:element name="Address" type="xs:anyURI"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
