MSNPSHARP_DEV/WebServiceDefAndSchemas/MSNDirectoryService/directory_datatypes.xsd

<?xml version="1.0" standalone="yes"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by wp (freezingsoft) -->
<xs:schema xmlns="http://profile.live.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata" targetNamespace="http://profile.live.com/" elementFormDefault="qualified" attributeFormDefault="qualified">
	<xs:complexType name="CallStatisticsType">
		<xs:sequence>
			<xs:element name="ServerName" type="xs:string" minOccurs="0"/>
			<xs:element name="ElapsedMilliseconds" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ArrayOfAttributeType">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="A" nillable="true" type="AttributeType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ArrayOfViewType">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="View" nillable="true" type="ViewType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ArrayOfIdType">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="ProfileId" nillable="true" type="IdType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AttributeType">
		<xs:sequence>
			<xs:element name="N" type="xs:string"/>
			<xs:element name="V" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ViewType">
		<xs:sequence>
			<xs:element name="ViewName" type="xs:string"/>
			<xs:element name="ViewVersion" type="xs:string" minOccurs="0"/>
			<xs:element name="Attributes" type="ArrayOfAttributeType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IdType">
		<xs:sequence>
			<xs:element name="Ns1" type="xs:string"/>
			<xs:element name="V1" type="xs:anyType"/>
			<xs:element name="Ns2" type="xs:string" minOccurs="0"/>
			<xs:element name="V2" type="xs:anyType" nillable="true" minOccurs="0"/>
			<xs:element name="Ns3" type="xs:string" minOccurs="0"/>
			<xs:element name="V3" type="xs:anyType" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
