MSNPSHARP_DEV/WebServiceDefAndSchemas/MSNDirectoryService/directory_ws.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by wp (freezingsoft) -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://profile.live.com/" xmlns:pns="http://profile.live.com/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://profile.live.com/">
	<wsdl:types>
		<xs:schema xmlns="http://www.w3.org/2001/XMLSchema">
			<xs:import schemaLocation="directory_servicetypes.xsd" namespace="http://profile.live.com/"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="GetMessage">
		<wsdl:part name="GetRequest" element="pns:Get"/>
	</wsdl:message>
	<wsdl:message name="GetResponseMessage">
		<wsdl:part name="GetResponse" element="pns:GetResponse"/>
	</wsdl:message>
	<wsdl:message name="GetManyMessage">
		<wsdl:part name="GetManyRequest" element="pns:GetMany"/>
	</wsdl:message>
	<wsdl:message name="GetManyResponseMessage">
		<wsdl:part name="GetManyResponse" element="pns:GetManyResponse"/>
	</wsdl:message>
	<wsdl:message name="SOAPHeaders">
		<wsdl:part name="SOAPApplicationHeader" element="pns:SOAPApplicationHeader"/>
		<wsdl:part name="SOAPUserHeader" element="pns:SOAPUserHeader"/>
	</wsdl:message>
	<wsdl:message name="SetMessage">
		<wsdl:part name="SetReauest" element="tns:Set"/>
	</wsdl:message>
	<wsdl:message name="SetResponseMessage">
		<wsdl:part name="SetResponse" element="tns:SetResponse"/>
	</wsdl:message>
	<wsdl:portType name="DirectoryServicePortType">
		<wsdl:operation name="Get">
			<wsdl:input message="tns:GetMessage"/>
			<wsdl:output message="tns:GetResponseMessage"/>
		</wsdl:operation>
		<wsdl:operation name="GetMany">
			<wsdl:input message="tns:GetManyMessage"/>
			<wsdl:output message="tns:GetManyResponseMessage"/>
		</wsdl:operation>
		<wsdl:operation name="Set">
			<wsdl:input message="tns:SetMessage"/>
			<wsdl:output message="tns:SetResponseMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DirectoryServiceBinding" type="tns:DirectoryServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="Get">
			<soap:operation soapAction="http://profile.live.com/Get"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:SOAPHeaders" part="SOAPApplicationHeader" use="literal"/>
				<soap:header message="tns:SOAPHeaders" part="SOAPUserHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetMany">
			<soap:operation soapAction="http://profile.live.com/GetMany"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:SOAPHeaders" part="SOAPApplicationHeader" use="literal"/>
				<soap:header message="tns:SOAPHeaders" part="SOAPUserHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Set">
			<soap:operation soapAction="http://profile.live.com/Set"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:SOAPHeaders" part="SOAPApplicationHeader" use="literal"/>
				<soap:header message="tns:SOAPHeaders" part="SOAPUserHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DirectoryService">
		<wsdl:port name="GetPort" binding="tns:DirectoryServiceBinding">
			<soap:address location="https://directory.services.live.com/profile/profile.asmx"/>
		</wsdl:port>
		<wsdl:port name="GetManyPort" binding="tns:DirectoryServiceBinding">
			<soap:address location="https://directory.services.live.com/profile/profile.asmx"/>
		</wsdl:port>
		<wsdl:port name="SetPort" binding="tns:DirectoryServiceBinding">
			<soap:address location="https://directory.services.live.com/profile/profile.asmx"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
