MSNPSharp/Web References/MSNWS.MSNSecurityTokenService/ws-secext.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:wsse="http://schemas.xmlsoap.org/ws/2003/06/secext" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns="http://schemas.xmlsoap.org/ws/2003/06/secext" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.xmlsoap.org/ws/2003/06/secext" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="wss-utility.xsd" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" />
  <xs:attribute name="Usage" type="xs:string" />
  <xs:element name="SecurityTokenReference" type="wsse:SecurityTokenReferenceType" />
  <xs:complexType name="SecurityTokenReferenceType">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any processContents="lax" />
    </xs:sequence>
    <xs:attribute ref="wsse:Id" />
    <xs:attribute ref="wsse:Usage" />
  </xs:complexType>
  <xs:element name="Security" type="wsse:SecurityHeaderType" />
  <xs:complexType name="SecurityHeaderType">
    <xs:sequence>
      <xs:element name="UsernameToken" type="wsse:UsernameTokenType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UsernameTokenType">
    <xs:sequence>
      <xs:element name="Username" type="wsse:AttributedString" />
      <xs:element name="Password" type="wsse:PasswordString" />
    </xs:sequence>
    <xs:attribute ref="wsse:Id" />
  </xs:complexType>
  <xs:complexType name="AttributedString">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="wsse:Id" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PasswordString">
    <xs:simpleContent>
      <xs:extension base="wsse:AttributedString" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="EncodedString">
    <xs:simpleContent>
      <xs:extension base="wsse:AttributedString">
        <xs:attribute name="URI" type="xs:anyURI" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="KeyIdentifier" type="wsse:KeyIdentifierType" />
  <xs:element name="Reference" type="wsse:ReferenceType">
    <xs:annotation>
      <xs:documentation>This element defines a security token reference</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ReferenceType">
    <xs:annotation>
      <xs:documentation>This type represents a reference to an external security token.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="URI" type="xs:anyURI" />
    <xs:attribute name="ValueType" type="xs:QName" />
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="KeyIdentifierType">
    <xs:simpleContent>
      <xs:extension base="wsse:EncodedString">
        <xs:attribute name="ValueType" type="xs:anyURI" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="BinarySecurityToken" type="wsse:BinarySecurityTokenType" />
  <xs:complexType name="BinarySecurityTokenType">
    <xs:simpleContent>
      <xs:extension base="wsse:EncodedString" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="PolicyReference">
    <xs:complexType>
      <xs:attribute name="URI" type="xs:anyURI" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:attribute name="Id" type="xs:string" />
</xs:schema>